h1 {
  font-family: 'Arial', sans-serif;
  font-size: 2rem;
  padding: none;
}

h2 {
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.toolbar {
  width: 500px;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  border: 1px solid black;
}

.tool input[type="radio"] {
  display: none;
}

/* Make the label look like a button */
.tool label {
  display: block;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hover state for better UX */
.tool label:hover {
  background-color: #e0e0e0;
}

/* The "Active" state when the radio is checked */
.tool input[type="radio"]:checked + label {
  background-color: #2e3e4e;
  color: white;
  border-color: #0056b3;
}


#drawing {
  border: 1px solid black;
  background-color: #F0F8FF;
}

#drawing[data-tool="pen"] {
  cursor: url('./images/pen-cursor.png') 0 0, auto;
}

#drawing[data-tool="eraser"] {
  cursor: url('./images/eraser-cursor.png') 10 10, auto;
}

#done-button {
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid black;
  background-color: #f0f0f0;
  padding: 10px 0;
  width: 500px;
  font-weight: 800;
}

#done-button:hover {
  background-color: #e0e0e0;
}

#done-button:active {
  background-color: #d0d0d0;
}
